ul {
    columns: 2;
    list-style-position: inside;
    margin-bottom: 3vh;
}

.locations {
    font-size: 1.8rem;
    color: var(--black-gray);
    list-style-type: disc;
}

@media (min-width: 1440px) {
    .locations {
        font-size: 2.5rem;
    }
}